* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
    color: #fff;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    background-color: #3c3f41;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 30%;
    background-color: #2b2b2b;
    padding: 20px;
    border-right: 1px solid #464646;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.project-list-container {
    flex: 1;
    overflow-y: auto;
}

.project-list {
    list-style: none;
}

.project-item:hover {
    background-color: #4b4b4b;
}

.project-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.project-item {
    display: flex;
    flex-direction: column; /* Added to make project name and description display on different lines */
    align-items: flex-start; /* Added for better alignment */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3c3f41;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.project-name {
    margin-bottom: 5px; /* Added to create space between project name and description */
}

.project-description {
    color: #bbbbbb;
}

.main-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content .logo {
    width: 150px;
    margin-bottom: 20px;
}

.main-content h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.main-content p {
    font-size: 1.2rem;
    color: #bbbbbb;
}

.settings-buttons {
    margin-top: 40px;
}

.settings-button {
    background-color: #888888;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.2rem;
}

.settings-button:hover {
    background-color: #aaaaaa;
}
