<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaces</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/editor.css" th:href="@{/css/editor.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha384-mQA6Pj4R2FpQ5axlRUOfshBxMFWzJo3FdXpm2z8v8hbqOeHzGsVz8aqw/6Tw3OgZ" crossorigin="anonymous">
</head>
<body class="dark-mode">
<div class="container">
    <aside class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li><i class="fas fa-home"></i> Home</li>
            <li><i class="fas fa-file-alt"></i> Security</li>
        </ul>
    </aside>
    <div class="content">
        <div class="file-explorer-container">
            <div class="file-explorer">
                <div class="current-path">
                    Current Path: <span>/</span>
                </div>
                <div class="table-container">
                    <table class="file-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="folder" th:each="file : ${files}">
                            <td>
                                <a th:href=
                                "@{${environment.createHref(file)}}">
                                    <span class="folder-logo" th:text="${file.isDirectory() ? '📁' : '📄'}"></span>
                                    <span class="folder-name" th:text="${file.getName()}"></span>
                                </a>
                            </td>
                            <td th:text="${file.isDirectory() ? 'Folder' : 'File'}"></td>
                            <td th:text="${file.readableFileSize()}"></td>
                            <td>Jan 1, 2024</td>
                        </tr>
                        <!-- Add more files and folders as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="project-description">
            <div class="setting-label">Filter Environment</div>
            <select>
                <option>Name</option>
                <option>Date Modified</option>
                <option>Password Protected</option>
            </select>
            <button class="setting-button" id="sort-button">Sort</button>
        </div>
        <div class="project-description">
            <h2>Environment Details</h2>
            <div class="description-section">
                <h3>Description</h3>
                <p>Nothing Here Yet!</p>
            </div>
            <div class="description-section">
                <h3>File Path</h3>
                <p>Nothing Here Yet!</p>
            </div>
            <h2>Environment Search</h2>
            <label class="setting-item">
                <div class="setting-label">Environment Search</div>
            </label>
            <label class="setting-item">
                <div class="setting-description">Search Query: </div>
                <input type="text" placeholder="Search For Something..." class="setting-textbox" id="search-query">
            </label>
            <label class="setting-item">
                <div class="setting-description">Search Depth: </div>
                <input type="text" placeholder="Specify Search Depth..." class="setting-textbox" id="search-depth">
            </label>
            <label class="setting-item">
                <button class="setting-button", id="search-button">Search</button>
            </label>
            <h2>Environment Cleaning</h2>
            <label class="setting-item">
                <div class="setting-label">Environment Cleaning Settings</div>
            </label>
            <label class="setting-item">
                <div class="setting-description">Should the search check for folders?</div>
                <input type="checkbox" class="setting-checkbox" id="clean-folders">
            </label>
            <label class="setting-item">
                <div class="setting-description">Delete items based on last modified?</div>
                <input type="checkbox" class="setting-checkbox" id="clean-based-last-modified">
            </label>
            <label class="setting-item">
                <div class="setting-description">Search Query: </div>
                <input type="text" placeholder="Type an extension, name, or folder.." class="setting-textbox" id="clean-query">
            </label>
            <label class="setting-item">
                <button class="setting-button", id="clean-button">Clean</button>
            </label>

            
            <h2>Environment Settings</h2>
            <label class="setting-item">
                <div class="setting-label">Environment Destination</div>
                <div class="setting-description">Set where you want this environment to be at.</div>
                <input type="text" placeholder="Enter your destination..." class="setting-textbox", id="environment-textbox">
            </label>
            <label class="setting-item">
                <div class="setting-label">Environment Description</div>
                <div class="setting-description">Set what you want the description of this environment to be.</div>
                <input type="text" placeholder="Enter your description..." class="setting-textbox", id="description-textbox">
            </label>
            <label class="setting-item">
                <div class="setting-label">Auto-Clean Environment</div>
                <div class="setting-description">Automaticially attempt to clean the environment whenever it is loaded
                    into memory.
                </div>
                <input type="checkbox" class="setting-textbox", id="auto-clean">
            </label>
            <label class="setting-item">
                <div class="setting-label">Zip File Contents</div>
                <div class="setting-description">Zip up the entire environment and allow it to be downloaded.
                </div>
                <button class="setting-button", id="zip-button">Zip Files</button>
            </label>
            <button class="apply-button" id="apply-button">Apply</button>
        </div>
    </div>
</div>
<div id="contextMenu" class="context-menu">
    <ul>
        <li><a href="#">Open</a></li>
        <li><a href="#">Secure</a></li>
    </ul>
</div>
</body>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        //
        // Logic to handle our custom right-click logic
        //
        const contextMenu = document.getElementById("contextMenu");
        const fileItems = document.querySelectorAll(".file-table tbody tr");

        fileItems.forEach(item => {
            item.addEventListener("contextmenu", function (e) {
                e.preventDefault();

                // Set the position of the context menu
                contextMenu.style.top = `${e.pageY}px`;
                contextMenu.style.left = `${e.pageX}px`;
                contextMenu.style.display = "block";
            });
        });

        document.addEventListener("click", function () {
            contextMenu.style.display = "none"; // Hide the context menu on click anywhere else
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        //
        // Function to handle the click event of the "Apply" button
        //
        document.getElementById('apply-button').addEventListener('click', function() {
            // Gather the updated settings data
            const data = {
                autoClean: document.getElementById('auto-clean').checked,
                environment: document.getElementById('environment-textbox').value,
                description: document.getElementById('description-textbox').value
            };

            const endpointUrl = 'http://localhost:8080/environment/update/' + [[${environment.getStringedIdentifier()}]];

            // Send a POST request with the settings data as JSON
            fetch(endpointUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
            },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Settings applied successfully:', data);
                // You can handle the response from the server here if needed
            })
            .catch(error => {
                console.error('Error applying settings:', error);
                // Handle errors here
            });
        });

        //
        // Function to handle the zip action
        //
        document.getElementById('zip-button').addEventListener('click', function () {
            fetch('http://localhost:8080/environment/zip/' + [[${environment.getStringedIdentifier()}]])
            // check to make sure you didn't have an unexpected failure (may need to check other things here depending on use case / backend)
            .then(resp => resp.status === 200 ? resp.blob() : Promise.reject('something went wrong'))
            .then(blob => {
                const endpointUrl = 'http://localhost:8080/environment/zip/' + [[${environment.getStringedIdentifier()}]];
                var link = document.createElement("a");

                link.setAttribute('download', [[${environment.getStringedIdentifier()}]] + '.zip');
                link.href = endpointUrl;
                document.body.appendChild(link);
                link.click();
                link.remove();
            })
            .catch(() => alert('Unable to handle this action! Please try again later.'));
        } )

        //
        // Function to handle the search logic
        //
        document.getElementById("search-button").addEventListener('click', function() {
            // Gather the updated settings data
            const depth = document.getElementById('search-depth').value != undefined ? document.getElementById('search-depth').value : '0';
            let term = document.getElementById('search-query').value;


            // Send the updated settings data to your endpoint
            const endpointUrl = 'http://localhost:8080/environment/search/'
            + [[${environment.getStringedIdentifier()}]] + '?depth=' + depth + '&keyword="' + term + '"';

            window.location.href = endpointUrl;
        });
    });
</script>
</html>