<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaces</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/homepage.css" th:href="@{/css/homepage.css}"/>
</head>


<body>
<div class="container">
    <div class="sidebar">
        <h2>Projects</h2>
        <div class="project-list-container">
            <ul class="project-list" th:each="environment : ${environments}">
                <a th:href="@{'/environment/view/' + ${environment.getRandomId().toString()}}" class="project-link">
                    <li class="project-item">
                        <!-- <img src="project2-logo.png" alt="Fallback" class="project-logo"> -->
                        <span class="project-name" th:text="${environment.getName()}"></span>
                        <span class="project-description" th:text="${environment.getDescription()}"></span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <img th:src="@{/img/logo.png}" alt="Logo" class="logo">
        <h1>Welcome to Spaces</h1>
        <p>Select a project from the list to get started.</p>
        <div class="settings-buttons">
            <button class="settings-button">Settings</button>
            <button class="settings-button" onclick="showPopup()">Create</button>
            <button class="settings-button">Socials</button>
        </div>
    </div>
</div>

<!-- Popup -->
<div id="popup" class="popup">
    <div class="popup-content">

        <h2>Enter Project Name</h2>
        <form action="/create" method="post" th:action="@{/create}">
            <input type="text" id="environmentName" name="environmentName" placeholder="Enter Environment name..."
                   th:value="${environmentName}">
            <button type="submit">Save</button>
            <button type="button" onclick="hidePopup()">Cancel</button>
        </form>
    </div>
</div>
<script th:inline="javascript">
    function showPopup() {
        document.getElementById("popup").style.display = "block";
    }

    function hidePopup() {
        document.getElementById("popup").style.display = "none";
    }

    function saveProject() {
        hidePopup();
    }
</script>
</body>
</html>