<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaces</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/editor.css" th:href="@{/css/editor.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha384-mQA6Pj4R2FpQ5axlRUOfshBxMFWzJo3FdXpm2z8v8hbqOeHzGsVz8aqw/6Tw3OgZ" crossorigin="anonymous">
</head>
<body class="dark-mode">
<div class="container">
    <aside class="sidebar">
        <h2>Environment</h2>
        <ul>
            <li><i class="fas fa-home"></i> Home</li>
            <li><i class="fas fa-file-alt"></i> Security</li>
            <li><i class="fas fa-tag"></i> Labels</li>
        </ul>
        <h2>Global</h2>
        <ul>
            <li><i class="fas fa-user" th:href="@{/users}"></i> Users</li>
        </ul>
    </aside>
    <div class="content">
        <div class="project-description">
    
            <h2>Enviornment Labels</h2>
            <label class="setting-item">
                <div class="setting-label">Create a Label</div>
            </label>
            <label class="setting-item">
                <div class="setting-description">Identifier: </div>
                <input type="text" placeholder="Type the label identifier" class="setting-textbox" id="label-id">
            </label>
            <label class="setting-item">
                <div class="setting-description">Name: </div>
                <input type="text" placeholder="Type the label name" class="setting-textbox" id="label-name">
            </label>
            <label class="setting-item">
                <div class="setting-description">Description: </div>
                <input type="text" placeholder="Type the label description" class="setting-textbox" id="label-description">
            </label>
            <label class="setting-item">
                <button class="setting-button", id="label-button">Add</button>
            </label>
            <table>
                <thead>
                    <tr>
                        <th>Label Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="label : ${environment.getLabels()}">
                        <td th:text="${label.getName()}">Label Name</td>
                        <td th:text="${label.getDescription()}">Description</td>
                        <td>
                            <!-- Form for delete action -->
                            <form th:action="@{/environment/{id}/labels/remove/{labelId}(labelId=${label.getId()}, id=${environment.getStringedIdentifier()})}" method="post">
                                <input type="hidden" th:name="labelId" th:value="${label.getId()}" />
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<script th:inline="javascript">
    //
    // Function to handle label creation
    //
    document.getElementById("label-button").addEventListener('click', function () {
        const data = {
            id: document.getElementById("label-id").value,
            name: document.getElementById("label-name").value,
            description: document.getElementById("label-description").value
        }

        let endpointUrl = 'http://localhost:8080/environment/' + [[${environment.getStringedIdentifier()}]] + '/labels/add';

        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(resp => resp.status === 200 ? resp.blob() : Promise.reject('something went wrong'))
            .then(blob => {
                console.log("added the label")
            })
            .catch(() => alert('Unable to handle this action! Please try again later.'));
    });
</script>